/* 
    Document   : homePageSheet
    Created on : Jun 22, 2011, 6:10:36 PM
    Author     : Ankit Gupta-FIR
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {

}
#main
{
    height:860px;
    width:1260px;
}
#topBanner
{
    height:193px;
    width:939px;
    margin-left: 150px;
}
#tabs
{
    height:40px;
    width:700px;
    margin-left: 290px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
#imageBox
{
    height:600px;
    width:800px;
    margin-left: 200px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}
#bottomBanner
{
    border: solid 1px Black;
    height:60px;
    width:1240px;
    margin-left:10px;
    margin-top: 50px;
}
#tabs ul
{
    float: left;

}
#tabs ul li
{
    position: relative;
    display: inline;
    background-color: plum;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}
#tabs ul li:hover
{
    background-color: Yellow;
    padding-bottom: 2.5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
#tabs ul li a
{
    text-decoration:none;
}
#tabs ul li a:hover
{
    background-color: Yellow;
    color : Black;
}
#image1
{
    position: relative;
    display:inline;
    height:200px;
    width:300px;
}
#image2
{
    margin-left: 50px;
    position: relative;
    display:inline;
    height:200px;
    width:300px;
}

